- if @product.present?
  .mypage_products_lists
    - @product.each do |product|
      - product.images.each do |image|
        .box
          = link_to product_path(product) do
            .image
              = image_tag image.image.url
            .menu  
              .name
                = product.name
              .detail
                .price
                  = product.price
                  円
                  %i.fa.fa-star
                    0
                %p
                  (税込)
              .buyer
                - if product.buyer_id.blank?
                  出品中
                - else
                  売却済 
- else
  登録した商品はありません。
