.header
  furima
  .header__menu
    %ul.list
      %li.list__right
        カテゴリー
      %li.list__left
        ブランド
    %ul.box
      %li.box__right
        = link_to "ログイン", "#"
      %li.box__left
        = link_to "新規会員登録", "#"