.main
  .main__image
    .main__image__box
      .main__image__box__subtitle
        人生を変えるフリマアプリ
      %P.main__image__box__text 
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .main__image__box__btn
        .btn1
          = link_to image_tag(src= 'app-store.jpg', size: '150x50'), "#" 
        .btn2
          = link_to image_tag(src= 'Google.jpg', size: '150x50'), "#"