@mixin standard_box() {
  width: 400px;
  font-size: 17px;
  margin: 0 auto;
  margin-bottom: 20px;
}


.create_background {
  background-color: #EEEEEE;
  height: 100vh;
  .header {
    height: 140px;
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  .form_top {
    height: 70px;
    width: 700px;
    background-color: white;
    font-size: 24px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    margin: 1px auto;
  }
  .user_info{
    width: 700px;
    background-color: white;
    margin: 0 auto;
    padding: 30px 0;
    .form_send{
      @include standard_box();
      text-align: center;
      &_btn {
        border-radius: 5%;
        padding: 15px 49px;
        cursor: pointer;
        background-color: #48D1CC;
        color: white;
        transition: 0.5s;
        border: 2px solid #48D1CC;
      }
      &_btn:hover{
        color: #48D1CC;
        background: white;
      }
    }
  }
}

.footer{
  width: 700px;
  height: 200px;
  margin: 0 auto;

  .terms{
    width: 700px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    li {
      font-size: 12px;
      a {
        color: black;
        text-decoration: none;
      }
    }
  }
  &__logo{
    text-align: center;
  }
  &__copyright {
    text-align: center;
    color: white;
    font-size: 15px;
  }
}
