.header1 {
  padding: 0 60px;
  &__group {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__box {
      position: relative;
      display: flex;
      align-items: center;
      &__title {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        img {
        width: 140px;
        max-width: 100%;
        margin-right: 30px;
        }
      }
      &__search {
        margin-left: auto;
        width: 100%;
        .search-form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          .search-input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          .search-btn {
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
            img {
              width: 100%;
              vertical-align: bottom;
            }
          }
        }
      }
    }
    &__menu {
      display: flex;
      font-size: 14px;
      margin-bottom: 10px;
      .list {
        position: relative;
        display: flex;
        &__right{
          padding: 0;
          text-decoration: none;
          display: flex;
          line-height: 38px;
          a {
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        }
        &__left {
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        }
      }
      .box {
        margin-left: auto;
        display: flex;
        &__right {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
        &__left {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          a{
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }  
    }
  }
}
  ul.box li a {
    text-decoration: none;
    color: black;
  }
