.main { 
  &__image {
    height: 560px;
    background-image: image-url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__box {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__subtitle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn{
        display: flex;
        margin: 24px 0 0 0;
        .btn1 {
          width: 180px;
          a {
            img{
              height: 53px;
            }
          }
        }
        .btn2 {
          margin-left: 10px;
          width: 180px;
          a {
            img{
              height: 53px;
            }
          }
        }
      }
    }
  }

  &__about{
    padding: 60px 20px;
    &__subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__subtitle:after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    ul.lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      li.list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image {
          position: relative;
          margin-bottom: 20px;
          .number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        .text {
          font-size: 20px;
          font-weight:  bold;
          line-height: 50px;
          margin: 0 0 0 2px;
          .word {
            color: #3CCACE;
          }
        }
        .descriotion {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0; 
        }
      }
    }
  }

  &__info {
    background-image: image-url("bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items:center;
    &__box {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__btn {
        display: flex;
        margin-top: 20px;
        .btn1 {
          width:180px;
          img{
            height: 53px;
          }
        }
        .btn2 {
          margin-left: 10px;
          width:180px;
          img {
            height: 53px;
          }
        }
      }
    }
  }

  &__feature {
    margin: 60px 100px;
    background-color: #fff;
    &__subtitle {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__subtitle:after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    } 
    .lists {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      .list {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__image {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__text {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__descriotion {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }

  &__category {
    padding: 80px 0 26px;
    background-color: #f8f8f8;
    height: 100%;
    &__subtitle {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__box { 
      .new--post {
        font-weight: bold;
        text-align: center;
        font-size: 24px;
        a {
          color: #3CCACE;
          text-decoration: none;
        }
      }
      &__products {
        display: flex;
      }  
    }
  }

  &__brand {
    background-color: #f8f8f8;
    padding: 80px 0 80px;
    height: 100%;
    &__subtitle {
      font-size: 28px;
      font-weight: bold;
      text-align: center;
    }
    &__box {
      .archiver {
        font-weight: bold;
        text-align: center;
        font-size: 24px;
        a {
          color: #3CCACE;
          text-decoration: none;
        }
      }
      &__products {
        .lists {
          width: 780px;
          margin: 26px auto;
          display: flex;
          justify-content: space-around;
          .list {
            width: 220px;
            display: inline-block;
            float: left;
            a {
              background-color: #fff;
              display: inline-block;
              text-decoration: none;
              position: relative;
              .image {
                width: 220px;
                height: 150px;
                position: relative;
                overflow: hidden;
                margin: 0;
                z-index: auto;
                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  z-index: auto;
                  height: 150px;
                  object-fit: cover;
                }
              }
              .menu {
                background-color: white;
                color: #333;
                padding: 16px;
                .name {
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: left;
                }
                .detail {
                  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
                  font-size: 16px;
                  .price {
                    font-size: 16px;
                    display: flex;
                  align-items: center;
                  justify-content: space-between;
                    .icon{
                      i {
                        display: inline-block;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                      }
                    } 
                  }
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }

  &__banner {
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: image-url("bg-appBanner-pict.jpg");
    &__box {
      color: #fff;
      text-align: center;
      &__text1 {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text2 {
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4)
      }
      &__btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        a {
          margin-right: 10px;
          .btn1 {
            width: 180px;
            height: 53px;
          }
        }
        a {
          .btn2 {
            width: 180px;
            height: 53px;
          }
        }
      }
    }
  }
}