.products-show{
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: 100%;
  &__main{
    width: 700px;
    height: 1800px;
    margin: 0 auto;
    padding-top: 40px;
    &__area{
      height: 1350px;
      background-color: white;
      padding: 0px 40px;
      &__title{
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        height: 80px;
        line-height: 80px;
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      }
      &__image{
        height: 433px;
        &__big{
          width: 560px;
          height: 346px;
          margin: 0 auto;
          img{
            width: 560px;
            height: 346px;            
          }
        }
        &__small{
          height: 87px;
          margin-top: 10px;
          display: flex;
          justify-content: center;
          &__left{
            width: 140px;
            height: 87px;
            img{
              width: 140px;
              height: 87px;            
            }
          }
          &__center{
            width: 140px;
            height: 87px;
            margin: 0 10px;
            img{
              width: 140px;
              height: 87px;            
            }
          }
          &__right{
            width: 140px;
            height: 87px;
            img{
              width: 140px;
              height: 87px;            
            }
          }
        }
      }
      &__price{
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        text-align: center;
        height: 80px;
        margin: 30px 0;
        &__display{
          font-weight: bold;
          font-size: 46px;
          line-height: 56px;
          height: 56px;
        }
        &__tax{
          font-size: 16px;
          line-height: 24px;
          height: 24px;
        }
      }
      &__explanation{
        font-size: 18px;
        margin-bottom: 30px;
      }
      &__information{
        margin: 0 auto;
        table{
          width: 620px;
          height: 375px;
          border-collapse: collapse;
          border: 1px solid #f8f8f8;
          padding-left: 40px;
          th{
            width: 20%;
            background-color: #eee;
            font-weight: 400;
            border: 1px solid #dedede;
            font-size: 14px;
            text-align: center;
          }
          td{
            width: 61%;
            border: 1px solid #dedede;
            font-size: 14px;
            padding: 15px;
            a{
              text-decoration: none;
              color: #3CCACE;
            }
          }
        }
      }
      &__link{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
          &__left{
            margin-right: auto;
            padding: 6px 10px;
            border-radius: 40px;
            border: 1px solid #ffb340;
            color: #3CCACE;
            a{
              text-decoration: none;
              color: #3CCACE;
            }
          }
          &__right{
            padding: 6px 10px;
            color: #3CCACE;
            border: 1px solid #333;
            display: inline-block;
            border-radius: 4px;
            color: #333;
          a{
            text-decoration: none; 
            color: #333;         
          }
        }
      }
    }
    &__comment{
      background-color: white;
      padding: 24px;
      margin: 10px 0px;
      text-align: center;
      &__textarea{
        textarea{
          width: 100%;
          min-height: 104px;
        }
      }
      &__explanation{
        padding: 8px;
        font-size: 14px;
        background-color: #f8f8f8;
        margin: 20px 0;
        text-align: left;
      }
      button{
        line-height: 48px;
        background: #3CCACE;
        border: 1px solid #3CCACE;
        color: #fff;
        width: 60%;
        font-size: 18px;
        border-radius: 100px;
        text-align: center;
        margin: 0 auto;
      }
    }
    &__link{
      a{
        text-decoration: none;
        color: #3CCACE;
        font-size: 16px;
      }
        &__product{
          display: flex;
          justify-content: space-between;
      }
      &__more{
        margin-top: 24px;
        a{
         font-size: 22px;
         font-weight: bold;
         font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }
      }
    }
  }
}