.contents {
  background-color: rgb(235, 235, 235);
  .header {
    height: 128px;
    display: flex;
    justify-content: center;
    line-height: 170px;
  }
  .body {
    background-color: white;
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
    .product__image {
      padding: 40px;
      &__box1 {
        display: flex;
        &__gazou {
          float: left;
          font-size: 14px;
        }
        &__hissu {
          border-radius: 4px;
          font-size: 14px;
          float: right;
          margin-left: 20px;
          background-color: red;
          color: white;
          height: 21px;
        }
      } 
      &__box2 {
        padding-top: 20px;
        font-size: 13px;
      }
      &__box3 {
        margin-top: 16px;
        background-color: rgb(223, 223, 223);
        font-size: 12px;
        line-height: 1.4em;
        height: 390px;
        width: 100%;
        #input-box {
          display: flex;
          flex-wrap : wrap;
          justify-content: center;
          width: 720px;
          .js-file_group{
            margin: 5px;
            height: 180px;
            width: 120px;
            border: 2px solid rgb(135, 135, 135);
            text-align: center;
            input{
              display: none;
            }
            .js-remove{
              border-radius: 2px;
              background-color: rgb(181, 202, 181);
              width: 50px;
              margin: 0 auto;
              cursor: pointer;
              box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
              border-bottom: solid 3px #b8c4bb;
              &:active {
                -webkit-transform: translateY(4px);
                transform: translateY(4px);
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
                border-bottom: none;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }



.product__name {
padding: 40px;
&__box1 {
display: flex;
margin-bottom: 20px;
&__name {
font-size: 14px;
float: left;
}
&__hissu {
font-size: 14px;
height: 21px;
border-radius: 4px;
float: right;
margin-left: 20px;
background-color: red;
color: white;
}
}
&__box2 {
#product_name {
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-family: inherit;
font-size: inherit;
height: 48px;
margin: 0;
outline: none;
padding: 0 16px;
width: 100%;
}
}
}
.product__explanation {
padding: 40px;
&__box1 {
margin-bottom: 20px;
display: flex;
&__detail {
font-size: 14px;
float: left;
}
&__hissu {
font-size: 14px;
height: 21px;
border-radius: 4px;
float: right;
margin-left: 20px;
background-color: red;
color: white;
}
}
&__box2 {
#product_text {
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
color: #222;
font-size: 16px;
margin: 0;
outline: none;
padding: 13px 16px;
resize: vertical;
vertical-align: middle;
width: 100%;
height: 200px;
}
}
&__box3 {
&__mojisuu {
font-size: 12px;
line-height: 1.4em;
float: right;
}
}
}
.product__detail {
padding: 40px;
&__box1 {
font-size: 14px;
margin-bottom: 20px;
}
&__box2 {
&__ue {
margin-bottom: 10px;
display: flex;
&__category {
float: left;
font-size: 14px;
}
&__hissu {
font-size: 14px;
height: 21px;
border-radius: 4px;
font-size: 14px;
float: right;
margin-left: 20px;
background-color: red;
color: white;
}
}
&__select {
  #parent_category,
  #child_category,
  #grandchild_category {
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #222;
  font-size: 16px;
  height: 48px;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0 56px 0 16px;
  width: 100%;
  }
}
}
&__box3 {
  margin-top: 20px;
  &__ue {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    &__brand {
      font-size: 14px;
    }
    &__nini {
      font-size: 14px;
      height: 21px;
      border-radius: 4px;
      margin-left: 20px;
      background-color: rgb(172, 171, 171);
      color: white;
    }
  }
  &__select {
    #product_brand {
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
      height: 48px;
      line-height: 1;
      margin: 0;
      outline: none;
      padding: 0 56px 0 16px;
      width: 100%;
    }
  }
}
&__box4 {
margin-top: 20px;
&__ue {
margin-bottom: 10px;
display: flex;
justify-content: flex-start;
&__status {
font-size: 14px;
}
&__hissu {
font-size: 14px;
height: 21px;
border-radius: 4px;
margin-left: 20px;
background-color: red;
color: white;
}
}
&__select {
#product_status {
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-size: 16px;
height: 48px;
line-height: 1;
margin: 0;
outline: none;
padding: 0 56px 0 16px;
width: 100%;
background-color: #fff;
}
}
}
}
.product__carry {
padding: 40px;
&__box1 {
margin-bottom: 20px;
font-size: 14px;
}
&__box2 {
margin-bottom: 20px;
&__ue {
margin-bottom: 10px;
display: flex;
justify-content: flex-start;
&__futan {
font-size: 14px;
}
&__hissu {
font-size: 14px;
height: 21px;
border-radius: 4px;
margin-left: 20px;
background-color: red;
color: white;
}
}
&__select {
#product_shippingcharges {
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-size: 16px;
height: 48px;
line-height: 1;
margin: 0;
outline: none;
padding: 0 56px 0 16px;
width: 100%;
background-color: #fff;
}
}
}
&__box3 {
&__ue {
margin-bottom: 10px;
display: flex;
justify-content: flex-start;
&__erea {
font-size: 14px;
}
&__hissu {
font-size: 14px;
height: 21px;
border-radius: 4px;
margin-left: 20px;
background-color: red;
color: white;
}
}
&__select {
#product_shipping_area {
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-size: 16px;
height: 48px;
line-height: 1;
margin: 0;
outline: none;
padding: 0 56px 0 16px;
width: 100%;
background-color: #fff;
}
}
}
&__box4 {
margin-top: 20px;
&__ue {
margin-bottom: 10px;
display: flex;
justify-content: flex-start;
&__day {
font-size: 14px;
}
&__hissu {
font-size: 14px;
height: 21px;
border-radius: 4px;
margin-left: 20px;
background-color: red;
color: white;
}
}
&__select {
#product_days_to_ship {
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-size: 16px;
height: 48px;
line-height: 1;
margin: 0;
outline: none;
padding: 0 56px 0 16px;
width: 100%;
background-color: #fff;
}
}
}
}
.product__price {
padding: 40px;
&__box1 {
font-size: 14px;
}
&__box2 {
display: flex;
justify-content: space-between;
font-size: 14px;
&__left {
margin-top: 10px;
display: flex;
justify-content: flex-start;
&__hissu {
font-size: 14px;
height: 21px;
border-radius: 4px;
margin-left: 20px;
background-color: red;
color: white;
}
}
&__right {
display: flex;
justify-content: flex-start;
&__en {
font-size: 14px;
margin-right: 8px;
line-height: 48px;
}
&__0 {
#product_price {
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-family: inherit;
font-size: inherit;
height: 48px;
margin: 0;
outline: none;
padding: 0 16px;
width: 200px;
line-height: 48px;
}
}
}
}
&__box3 {
margin-top: 20px;
font-size: 14px;
display: flex;
justify-content: space-between;
}
&__box4 {
font-size: 14px;
display: flex;
justify-content: space-between;
}
}
.product__sell {
width: 360px;
margin: 0px auto 32px;
line-height: 48px;
&__box1 {
.sell {
  width: 360px;
  height: 48px;
  background-color: red;
  color: white;
  border-radius: 4px;
  text-align: center;
}
}
&__box2 {
margin-top: 24px;
height: 48px;
background-color: rgb(182, 182, 182);
border-radius: 4px;
text-align: center;
}
&__box3 {
margin-top: 24px;
height: 48px;
font-size: 14px;
text-align: center;
a {
color: rgb(144, 230, 252);
}
}
}
.product__rule {
font-size: 12px;
padding: 40px;
text-align: center;
.link-blue {
color: rgb(144, 230, 252);
text-decoration: none;
}
}
.footer {
padding: 40px 0px 41px;
&__top {
display: inline-block;
margin: -16px 0px 40px -16px;
font-size: 12px;
display: flex;
justify-content: center;
&__box1 {
padding-right: 20px;
text-decoration: none;
a {
color: black;
}
}
&__box2 {
a {
color: black;
}
}
&__box3 {
padding-left: 20px;
a {
color: black;
}
}
}
&__center {
display: flex;
justify-content: center;
}
&__bottom {
font-size: 12px;
display: flex;
justify-content: center;
}
}
  a {
   text-decoration: none;
  }
}