.confirmation {
  background-color: #f8f8f8;
  .head--logo {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      img {
        width: 200px;
        max-width: 100%;
      }
    }
  }
  .main1 {
    margin: 0 15%;
    &__title {
      background-color: white;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      padding: 30px 0;
      margin-bottom: 1px;
    }
    &__info {
      background-color: white;
      padding: 30px 0;
      margin-bottom: 1px;
      display: flex;
      &__group {
        display: flex;
        margin: auto;
        width: 90%;
        &__photo {
          width: 70%;
        }
        &__box {
          width: 30%;
          padding-left: 15px;
          &__name {
          }
          &__price {
            margin-top: 20px;
          }
        }
      }
    }
    &__content {
      background-color: white;
      padding: 30px 0;
      display: flex;
      &__item {
        margin: auto;
        width: 50%;
        &__money {
          padding: 30px 0;
          .box {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            .text	{
              font-size: 17px;;
            }
            .total {
              font-size: 20px;;
            }
          }
        }
        &__method {
          padding: 30px 0;
          border-top: 1px solid #f5f5f5;
          .subtitle {
            font-weight: bold;
            font-size: 14px;
          }
          .registration {
            font-size: 14px;
            padding-top: 5px;
            a {
              text-decoration: none;
              color: #0099e8;
            }
          }
        }
        &__carry {
          padding: 30px 0;
          border-top: 1px solid #f5f5f5;
          .subtitle {
            font-weight: bold;
            font-size: 14px;
          }
          .registration {
            font-size: 14px;
            padding-top: 5px;
            a {
              text-decoration: none;
              color: #0099e8;
            }
          }
        }
        &__buy {
          background-color: white;
          padding: 30px 0;
          border-top: 1px solid #f5f5f5;
          .buy-btn {
            background-color: red;
            width: 100%;
            height: 50px;
            font-size: 15px;
            font-weight: bold;
            color: white;
          }
        }
      }
    }
  }
  .footer {
    padding-top: 15px;
    width: 50%;
    &__content {
      ul {
        font-size: 14px;
        display: flex;
        justify-content: space-around;
        li {
          
          a {
            text-decoration: none;
            font-size: 12px;
            color: black;
            font-weight: lighter;
          }
        }
      }
    }
    &__logo {
      
      a {
        
        img {
          display: block;
          max-width: 140px;
          padding-top: 20px;
          margin: 0 auto;
        }
      }
      p {
        font-size: 14px;
        text-align: center;
      }
    }
  }
}